In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import argparse
import re
import glob

In [26]:
data = pd.read_csv(
    "D:\MSC DATA SCIENCE\Christ MSDS\Analysis-process\sentiment-Data-Analysis-\data\sentiment-data-social-media.csv")

In [27]:
data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   0                                                                                                                    1599999 non-null  int64
 1   1467810369                                                                                                           1599999 non-null  int64
 2   Mon Apr 06 22:19:45 PDT 2009                                                                                         1599999 non-null  object
 3   NO_QUERY                                                                                                             1599999 non-null  object
 4   _TheSpecialOne_                                                                                                      1599999 non-null  object
 5   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [29]:
print(data.columns)

Index(['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY',
       '_TheSpecialOne_',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D'],
      dtype='object')

In [35]:
new_column_names = {
    '0': 'number',
    '1467810369': 'ID',
    'Mon Apr 06 22:19:45 PDT 2009': 'Date',
    'NO_QUERY': 'Query',
    '_TheSpecialOne_': 'User',
    "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D ": "Tweet"
}

data.rename(columns=new_column_names, inplace=True)

In [39]:
# Remove leading/trailing whitespaces from column names
data.columns = data.columns.str.strip()

# Rename columns
data.rename(columns=new_column_names, inplace=True)

# Verify the changes
print("df", data.columns)

# Save the DataFrame back to CSV
data.to_csv('new_dataset.csv', index=False)

df Index(['number', 'ID', 'Date', 'Query', 'User',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D'],
      dtype='object')

In [41]:
data.head()

,number,ID,Date,Query,User,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [44]:
# to reamove the columns
data.drop(['number'], axis=1, inplace=True)

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 5 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   ID                                                                                                                   1599999 non-null  int64
 1   Date                                                                                                                 1599999 non-null  object
 2   Query                                                                                                                1599999 non-null  object
 3   User                                                                                                                 1599999 non-null  object
 4   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(1), object(4)
memory usage: 61.0+ MB

In [53]:
# Assuming 'User' is the column containing user names
user_counts = data['User'].value_counts()

# Create a list of users repeating more than 5 times
users_repeating_more_than_5 = user_counts[user_counts > 200].index.tolist()

# Print or use the list as needed
print("Users repeating more than 5 times:", users_repeating_more_than_5)

Users repeating more than 5 times: ['lost_dog', 'webwoke', 'tweetpet', 'SallytheShizzle', 'VioletsCRUK', 'mcraddictal', 'tsarnick', 'what_bugs_u', 'Karen230683', 'DarkPiano', 'SongoftheOss', 'Jayme1988', 'keza34', 'ramdomthoughts', 'shanajaca', 'wowlew', 'TraceyHewins', 'nuttychris', 'thisgoeshere', 'Spidersamm', 'StDAY']